@use '../abstract/variables' as *;
@use '../abstract/mixins' as mix;

.body{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-between;
    width: 100%;

    @include mix.mq(small){
        flex-direction: row;
    }
}

.divsearch {
    font-size: inherit;
    
    @include mix.mq(small){
        flex-basis: 35%;
    }
    @include mix.mq(medium){
        flex-basis: 30%;
    } 
}

.divsearch__list{
    font-weight: 500;
    position: static;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include mix.mq(small) {
        position: fixed;
        top: 155px;
        left: calc(calc(100vw - $widthApp)/2);
    }
}
.divsearch__link {
    align-items: center;
    border-radius: .2em;
    color: var(--blue-900);
    display: flex;
    font-weight: 500;
    gap: 5px;
    height: 32px;
    transition: background-color .2s;

    &::before {
        content: '';
        display: block;
        width: 12px;
        height: 32px;
        background: var(--grey-700);
        border-radius: .2em 0 0 .2em ;
    }
    &.active{
        box-shadow:1px 1px 2px var( --grey-500 );
        font-weight: 600;
        background-color: white;
    }
    &:hover {
        box-shadow:1px 1px 2px var( --grey-600 );
    }
}

.divGrid {
    background-color: white;
    padding: .5em;
    @include mix.mq(small){
        flex-basis: 60%;
    }
    @include mix.mq(medium){
        flex-basis: 65%;
    }
}

.divGridItem{
    margin-bottom: 10px;
}
.divGridItem__title{
    font-size: 1.5rem;
    color: var(--grey-800);
    font-weight: 600;
}
.divGridItem__grid{
    color: var(--grey-600);
    line-height: 1.5rem;
    
}