@use '../abstract/variables' as *;
@use '../abstract/mixins' as mix;

.icon {
    color: var(--blue-400);
}

.btn{

    border: 0;
    padding: 0.5em .8em;
    background-color: var(--blue-600);
    border-radius: .5em;
    color: var(--blue-100);
    font-size: .8rem;
    cursor: pointer;
    &:hover{
        background-color: var(--blue-500);
    }
}
